<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>ru.itis.servlet.MessageServletContextListener</listener-class>
  </listener>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <servlet>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>ru.itis.servlet.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/name</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetMessagesServlet</servlet-name>
    <servlet-class>ru.itis.servlet.GetMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessagesServlet</servlet-name>
    <url-pattern>/getMessages</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>ru.itis.servlet.SendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/sendMessage</url-pattern>
  </servlet-mapping>

</web-app>
